<!DOCTYPE html>
<html>

<head>
	<link rel="stylesheet" href="/static/dash.css">
	<style>
		.uname{
font-size: 25px;
  font-weight: bold;
  color: #98c7c8;
}
</style>
	<title></title>

</head>
<body>
<div class="head">

	<img  src={{pimg}} class="photo" alt="">
	<img src="/static/1.png" class="logo" alt="">
	<div class="head2">
	<div class="uname" >Hello, {{doctor}}</div>
	<div class="uname2" >{{design}}</div>
	<div class="uname3" >{{degree}}</div>
	<!-- </div>
	<div class="head3"> -->
	</div>
	<button><a href="http://127.0.0.1:5000/doctorlogout" target="_blank">Logout</a></button>

</div>
<!-- <div class="navigation-bar">
	<ul>
		<li><button><a href="#">Patient Profile</a></button></li>
		<li><button><a href="#">Patient Record</a></button></li>
		<li><button><a href="#">New Prescription</a></button></li>
	</ul>
</div> -->
</body>
</html>