<!DOCTYPE html>
<html>

	<head>
        <script ></script>
    	<style>
            ::-webkit-scrollbar {
    display: none;
}
        </style>
        <title>Virtual Rx</title>
	</head>

   <frameset rows = "22%,78% ">
      <frame id = "top" name = "top" src = "E:\6th Sem\New folder\mongopractice\templates\dash.html" frameborder=0 noresize="noresize"/>
      <frame id= "main" name = "main" src = "" frameborder=0 noresize="noresize"/>
      <!-- <frame name = "bottom" src = "/html/bottom_frame.htm" /> -->

      <noframes>
         <body>Your browser does not support frames.</body>
      </noframes>

   </frameset>

</html>