<!DOCTYPE html>
<html>

	<head>
<!--        <script src="../static/framedash.js"></script>-->
    	<link rel="stylesheet" href="../static/framedash.css">
        <title>Virtual Rx</title>
	</head>

   <frameset rows = "22%,68% ">
<!--      <frame id = "top" name = "top" src = "http://127.0.0.1:5000//doctorlogindash/{{aadhar}}/{{doctor}}" frameborder=0 noresize="noresize"/>-->
       <frame id = "mid" name = "terminator" src = "http://127.0.0.1:5000/twobutton/{{aadhar}}" frameborder=0 noresize="noresize"/>
      <frame id= "main" name = "terminator2" src = "http://127.0.0.1:5000/patientlistviewp/{{aadhar}}" frameborder=0 noresize="noresize"/>
<!--       <frame src="http://127.0.0.1:5000/threebutton/{{aadhar}}/{{doctor}}" name="terminator">-->
<!--<frame src="http://127.0.0.1:5000/doctorpatientlistview/{{aadhar}}/{{doctor}}" name="terminator2">-->



   </frameset>

</html>